###########
# Exclude #
###########

## macOS
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
.Trash/

### Language
.CFUserTextEncoding
### Non-essiential Data Files
.cache/
### Configuration
.config/
### User Data
.local/share/

## gradle
.gradle/
.tooling/
## maven
.m2/
.mvn_repo/
## markdown-preview-enhanced (VS Code plugin)
.mume/
## node
.node-gyp/
.npm/
.nvm/
## now (now.sh : about Server-Side Rendering)
.now/
## OneDrive
OneDrive - elcass/
## OpenSSL CSR
.csr/
## 七牛云缓存
.qrsync/
## rsync (work, to-rm)
.rsync*
## SpaceVim
.SpaceVim/
## ssl
.rnd
## VS Code
.vscode/
.VSCodeVim/
## Tencent? (include QQMusic)
.wns/
## Weibo Video Platform CMD Tool
.hss_history
.wtool*
.wtool/
wtool/
## z
.z*

## others
1Password Emergency Kit.crypto
VirtualBox VMs/
.bash*
.composer/
.docker/
.gem/
.gemrc
.git*
.idea/
.iterm2/
.lesshst
.mysql_history
.oh-my-zsh/
.oracle_jre_usage/
.ShadowsocksX*
.ssh/
.snipaste/
.subversion/
.tig_history
.vim/
.vim*
.wget-hsts

## unknown

