###########
# Exclude #
###########

# macOS
Applications/
Desktop/
Documents/
Downloads/
Library/
Movies/
Music/
Pictures/
Public/
Src/
.Trash/

## Language
.CFUserTextEncoding
## Non-essiential Data Files
.cache/
## Configuration
.config/
## User Data
.local/share/

# gradle
.gradle/
.tooling/
# maven
.m2/
.mvn_repo/
# markdown-preview-enhanced (VS Code plugin)
.mume/
# Mongo
.dbshell
.mongorc.js
# msmtp
.mailrc
.msmtprc
# node
.node-gyp/
.node_repl_history
.npm/
.nvm/
# now (now.sh : about Server-Side Rendering)
.now/
# OpenSSL CSR
.csr/
# 七牛云缓存
.qshell/
.tools/qshell/**/*.log
# ssl
.rnd
# Tencent? (include QQMusic)
.wns/
# Weibo WTool
.hss_history
.wtool*
.wtool/
wtool/

## others
1Password Emergency Kit.crypto
go/
OneDrive - elcass/
VirtualBox VMs/
.bash*
.composer/
.docker/
.gem/
.gemrc
.git*
.idea/
.iterm2/
.lesshst
.linux-conf/
.mono/
.mysql_history
.oh-my-zsh/
.oracle_jre_usage/
.php_history
.privacy/
.python_history
.rediscli_history
.rsync*
.ShadowsocksX*
.SpaceVim/
.SpaceVim.d/
.ssh/
.snipaste/
.subversion/
.tig_history
.vim/
.vim*
.vscode/
.VSCodeVim/
.vue-templates/
.wget-hsts
.z*

