[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[user]
	name = IceHe
	email = icehe.me@qq.com
[core]
	ignorecase = false
[push]
    #default = simple
[pager]
    # https://stackoverflow.com/questions/48341920/git-branch-command-behaves-like-less/48342309
	branch = false
[http]
    # https://stackoverflow.com/questions/9008309/how-do-i-set-git-ssl-no-verify-for-specific-repos-only
	sslVerify = false
