" .ideavimrc "

set clipboard=unnamed

let mapleader=","

" Save
imap <C-S> <Esc><C-S>a
map <C-S> :w<CR>

" Search

"" 设置大小写敏感和聪明感知（小写全搜，大写完全匹配）
"set ignorecase
"set ic
"set noic

"" If you search for something containing uppercase characters,
""   it will do a case sensitive search;
""   if you search for something purely lowercase,
""   it will do a case insensitive search.
set smartcase

" Swith Tab
map <S-H> gT
map <S-L> gt
map <leader>a 1gt
map <leader>s 2gt
map <leader>d 3gt
map <leader>f 4gt
map <leader>g 5gt
map <leader>h 6gt
map <leader>j 7gt
map <leader>k 8gt
map <leader>l 9gt
map <leader>; 10gt
map <leader>q 11gt
map <leader>w 12gt
map <leader>e 13gt
map <leader>r 14gt
map <leader>t 15gt
map <leader>y 16gt
map <leader>u 17gt
map <leader>i 18gt
map <leader>o 19gt
map <leader>p 20gt

" Mimic Emacs in Insert Mode
inoremap <C-B> <Left>
inoremap <C-F> <Right>

inoremap <C-A> <Home>
inoremap <C-E> <End>

" Forward|Backward Word (End)
inoremap <C-N> <Esc>ea
inoremap <C-P> <Esc>gea

" Del to End of Line
inoremap <C-K> <Right><Esc>Da
" Del to Head of Line
inoremap <C-U> <Esc>d0xi
" Exchange Chars
inoremap <C-T> <esc>xpli
" Join Lines Without Spacing
map <S-K> Jx

" Copy to EOL (without the line break)
map <S-Y> v$hy

" Enable Vim-Surround
set surround

" Redo
withoutmap <c-r> :redo<CR>
