" 修改leader键为逗号
let mapleader=","

" 系统剪切
nmap <leader>y "+y
vmap <leader>y "+y
nmap <leader>p "+p
vmap <leader>p "+p

nmap <leader>Y "+Y
vmap <leader>Y "+Y
nmap <leader>P "+P
vmap <leader>P "+P

" 使用大写H和L切换标签页
map <S-H> gT
map <S-L> gt

" Y 复制到行尾（不包括换行符）
map <S-Y> v$hy

" 关闭标签页
"map <c-w> :q<CR>

" 保存文件
map <c-s> :w<CR>

" 显示寄存器
map <c-,> :reg<CR>
